{% extends "base.html" %}
{%  block title %}
  Register page
{%  endblock %}
{% block content %}
<div style="margin-top: 30px;" class="container">
  <form method="POST" class="form-register" style="color: white;">
    {{ form.hidden_tag()}} <!--protect from hacker attack-->
    <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>
    <br>
    {{form.username.label()}}
    {{form.username(class="form-control", placeholder="Username")}}
    {{form.email_address.label()}}
    {{form.email_address(class="form-control", placeholder="Email address")}}
    {{form.password1.label()}}
    {{form.password1(class="form-control", placeholder="Password")}}
    {{form.password2.label()}}
    {{form.password2(class="form-control", placeholder="Confirm password")}}
    <br>
    <div class="checkbox mb-3">
      <h4>Already have an account?</h4>
      <a href="{{ url_for('login_page') }}">Log in</a>
    </div>
    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
  </form>
</div>
{% endblock %}